node_modules
.nuxt
.output
dist
android
.ios

.git
.gitignore
Dockerfile
npm-debug.log
pnpm-debug.log

.env*
*.local

# Firebase service account keys
*firebase-adminsdk*.json
mentai-512ed-firebase-adminsdk-fbsvc-29fde07f24.json